.sidebar {
    width: 300px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    height: calc(100vh - 20px);
    overflow-y: auto;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.sidebar a {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin-left: 340px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    background: #fafafa;
    color: #333;
}

nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
}


nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(0);
    background: #333;
    transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
    transform: scaleX(1);
}
